@model BookTrackingApp.ViewModels.TeacherInfoViewModel

@{
    ViewBag.Title = "Teacher Account";
}

@Html.HiddenFor(Model => Model.TeacherID)

<p></p>

@if (TempData["confirm"] != null)
{
    <div class="alert alert-success text-center" role="alert">
        @TempData["confirm"]
    </div>
}
else if (TempData["error"] != null)
{
    <div class="alert alert-danger text-center" role="alert">
        @TempData["error"]
    </div>
}

<div class="pull-right">
    @Html.ActionLink("Sign Out", "Index", "Home", null, new { @class = "btn btn-warning pull-right" })
</div>

<Legend>Teacher Information</Legend>

<div class="container">
    <div class="row-fluid">
        <div class="span6">
            @Html.Label("Teacher ID: ")
            @ViewBag.teacherid
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            @Html.Label("First Name: ")
            @ViewBag.firstname
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            @Html.Label("Last Name: ")
            @ViewBag.lastname
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            @Html.Label("Email: ")
            @ViewBag.email
        </div>
    </div>
</div>

<p></p>

<Legend>Book Requests</Legend>

<div class="container">
@if (Model.OrderListing.Count != 0)
{
    <table class="table table-striped ">
        <thead>
            <tr>
                <th></th>
                <th>Order ID</th>
                <th>Student Name</th>
                <th>Class Enrolled</th>
                <th>Book Name</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @try
            {

                for (int i = 0; i < Model.OrderListing.Count; i++)
                {
                    <tr>
                        <td></td>
                        <td>@Html.DisplayFor(x => x.OrderListing[i].OrderID)</td>
                        <td>
                            @Model.StudentListing.Where(x => x.StudentID == Model.OrderListing[i].OStudentID).Select(x => x.FirstName).FirstOrDefault()
                        @Model.StudentListing.Where(x => x.StudentID == Model.OrderListing[i].OStudentID).Select(x => x.LastName).FirstOrDefault()
                    </td>
                    <td>
                        @Model.StudentListing.Where(x => x.StudentID == Model.OrderListing[i].OStudentID).Select(x => x.ClassOne).FirstOrDefault()
                    @Model.StudentListing.Where(x => x.StudentID == Model.OrderListing[i].OStudentID).Select(x => x.ClassTwo).FirstOrDefault()
                    @Model.StudentListing.Where(x => x.StudentID == Model.OrderListing[i].OStudentID).Select(x => x.ClassThree).FirstOrDefault()
                </td>
                <td>@Model.BookListing.Where(x => x.BookID == Model.OrderListing[i].OBookID).Select(x => x.BookName).FirstOrDefault()</td>
                <td>@Html.DisplayFor(x => x.OrderListing[i].Status)</td>
                <td colspan="1">
                    @if (Model.OrderListing[i].Status == "Pending")
                    {
                        @Html.ActionLink("Approve", "ApprovePending", "Home",
new { teaid = Model.TeacherID, orderid = Model.OrderListing[i].OrderID },
new
{
    @class = "label label-success",
})}
                    @if (Model.OrderListing[i].Status == "Pending")
                    {
                        @Html.ActionLink("Decline", "DeclinePending", "Home",
       new { teaid = Model.TeacherID, orderid = Model.OrderListing[i].OrderID },
       new
       {
           @class = "label label-danger",
       })}
                </td>
                <td></td>
            </tr>
                }
            }
            catch { }
        </tbody>
    </table>
}
@if (Model.OrderListing.Count == 0)
{
    <div class="text-center">No Pending Book Orders</div>
}
</div>

<p></p>

<Legend>Declined Orders</Legend>

<div class="container">
@if (Model.DeclinedListing.Count != 0)
{
    <table class="table table-striped ">
        <thead>
            <tr>
                <th></th>
                <th>Order ID</th>
                <th>Student Name</th>
                <th>Class Enrolled</th>
                <th>Book Name</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @try
            {

                for (int i = 0; i < Model.DeclinedListing.Count; i++)
                {
                    <tr>
                        <td></td>
                        <td>@Html.DisplayFor(x => x.DeclinedListing[i].OrderID)</td>
                        <td>
                            @Model.StudentListing.Where(x => x.StudentID == Model.DeclinedListing[i].OStudentID).Select(x => x.FirstName).FirstOrDefault()
                            @Model.StudentListing.Where(x => x.StudentID == Model.DeclinedListing[i].OStudentID).Select(x => x.LastName).FirstOrDefault()
                        </td>
                        <td>
                            @Model.StudentListing.Where(x => x.StudentID == Model.DeclinedListing[i].OStudentID).Select(x => x.ClassOne).FirstOrDefault()
                            @Model.StudentListing.Where(x => x.StudentID == Model.DeclinedListing[i].OStudentID).Select(x => x.ClassTwo).FirstOrDefault()
                            @Model.StudentListing.Where(x => x.StudentID == Model.DeclinedListing[i].OStudentID).Select(x => x.ClassThree).FirstOrDefault()
                        </td>
                        <td>@Model.BookListing.Where(x => x.BookID == Model.DeclinedListing[i].OBookID).Select(x => x.BookName).FirstOrDefault()</td>
                        <td>@Html.DisplayFor(x => x.DeclinedListing[i].Status)</td>
                        <td colspan="1">
                            @Html.ActionLink("Release", "ReleaseDeclinedOrder", "Home",
new { teaid = Model.TeacherID, orderid = Model.DeclinedListing[i].OrderID },
new
{
    @class = "label label-primary",
})
                        </td>
                        <td></td>
                    </tr>
                }
            }
            catch { }
        </tbody>
    </table>
}
@if (Model.DeclinedListing.Count == 0)
{
    <div class="text-center">No Declined Book Orders</div>
}
</div>